.field2{
  background-color: rgba(0,0,60,0.2);
  margin-left: 150px;
  margin-right: 150px;
}

.Register{
  text-align: center;
}

#email-address{
  margin-right: -53px;
}

#last{
  margin-right: -2px;
}

#password{
  margin-right: -11px;
}
